# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/components/iframe/books/
/public/books/djvu/(Thieme flexibook) Werner Kahle, etc., et al, G. Spitzer, H.L. Dayan, A.D. Dayan - Color Atlas and Textbook of Human Anatomy. Internal Organs. Volume 2-Thieme Medical Publishers (1986).djvu
/public/books/biology/english/genetics/3_19_DGENES_GENERAL_PRINCIPLES.pdf
/public/books/djvu/- Color Atlas and Textbook of Human Anatomy. Locomotor System. Volume 1-Thieme (1986).djvu
/public/books/djvu/babaeva2009_regener_fakty_persp.djvu
/public/books/biology/russian/biodiversity_eval.pdf
/public/books/philosophy/blogs.lse.ac.uk-Why students should not be taught general critical-thinking skills.pdf
/public/books/djvu/Bromley_Yu_V__otv_red__Istoria_pervobytnogo.djvu
/public/books/djvu/Bromley_Yu_V__otv_red__Istoria_pervobytnogo т2.djvu
/public/books/djvu/Bromley_Yu_V__otv_red__Istoria_pervobytnogo т3.djvu
/public/books/biology/russian/cytology_histology_embriology.pdf
/public/books/biology/english/cytology_histology_microscopic_anatomy.pdf
/public/books/biology/russian/embriology/embriology.pdf
/public/books/djvu/Embriology1.djvu
/public/books/djvu/Embriology2.djvu
/public/books/biology/russian/physiology/fizo_mikhaylova.pdf
/public/books/biology/russian/genetics/gen_and_molecular_genetics.pdf
/public/books/biology/russian/physiology/gen_course_animal_physiology_1.pdf
/public/books/biology/russian/physiology/gen_course_animal_physiology_2.pdf
/public/books/biology/russian/embriology/gen_embriology_basics.pdf
/public/books/djvu/Gilbert_S_--_Biologia_razvitia_T_1.djvu extra=25KS7XAA43Tt4QjPkJgm48QdM1_pFITRaOt0_3hObYLORhi-GmnQ96jsleZH_jj0JfDxX44ZRa6P9CqY6YR1z2WzvSaJq4fDV45z-wj2jzdJXs791W9WV5XOl4Z-GDD0cQQtyW4c1h-fUMFerA&dl=1.djvu
/public/books/djvu/Gilbert_S_--_Biologia_razvitia_T_2.djvu extra=YrA1RxNDQoG2U1eqdcEiGewiHAeZ6dfC_AzjgdEDsVrHk3IetZGmrrVYK9msxOoJcEtbZGzSgq0KX7RVtDurfxoqZ-7D7BM0SArs2RJmMfhzhAhQZeBdzhTn7t1335id9MER1XupP1LCtJoIsg&dl=1.djvu
/public/books/djvu/Gilbert_S_--_Biologia_razvitia_T_3.djvu extra=j6QQY-T4BoIUg_Go4CihJIBqhZNwYNSKm2xGcbChFIYCZj_CXGyTyvv0rzBXJOMS9AE58doJmax1sk-cPUj1pIEP8QzG6mtkGAbriGb1JOFsofOzbMbyowYssfcHoW7ApGJ1Xmskw0iuEZ6r_Q&dl=1.djvu
/public/books/biology/english/genetics/Hartl_Jones_Genetics.pdf
/public/books/biology/russian/genetics/heredity_genvariation_pathology_paper.pdf
/public/books/biology/russian/genetics/human_genome.pdf
/public/books/philosophy/kant-first-critique-cambridge.pdf
/public/books/djvu/Medvedev.djvu
/public/books/biology/english/molecular_virology.pdf
/public/books/misc/rulebook_for_arguments.pdf
/public/books/philosophy/system_of_logic_1.pdf
/public/books/philosophy/system_of_logic_2.pdf
/public/books/philosophy/system_of_logic_3.pdf
/public/books/philosophy/system_of_logic_4.pdf
/public/books/djvu/Thieme - Color Atlas and Textbook of Human Anatomy. Nervous System and Sensory Organs. Volume 3-Thieme (1986).djvu
/public/books/biology/russian/virusology.pdf
/public/books/djvu/Генетика_под ред. Иванова В.И_Учебник_2006 -638с.djvu
/public/books/djvu/Зауралов О.А. Краткий курс физиологии и биохимии растений.djvu
/public/books/djvu/Инге-Вечтомов С.Г. - Генетика с основами селекции [1989].djvu
/public/books/djvu/Физиология растений, Полевой В.В..djvu
/public/books/djvu/Инге-Вечтомов С.Г. - Генетика с основами селекции [1989].djvu
