/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*  font-size: 100%;*/
/*  font: inherit;*/
/*  vertical-align: baseline;*/
/*}*/

body {
  background: blue;
}

.App {
  display: grid;
  grid-template-areas:
 "sidenav iframe iframe"
}

/*.book {*/
/*  width: 50%;*/
/*}*/

.iFrame {
  display: grid;
  grid-area: iframe;
  background-color: aqua;

}

.sideNav {
  display: grid;
  grid-area: sidenav;
  background-color: brown;
  width: 30%;
}

/*#bookFrame {*/
/*  display: block;*/
/*}*/
