/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*  font-size: 100%;*/
/*  font: inherit;*/
/*  vertical-align: baseline;*/
/*}*/

body {
  display: grid;
  grid-template-areas:
 "sidenav iframe iframe"
 "sidenav iframe iframe";
}

.iFrame {
  display: grid;
  grid-area: iframe;
}

.sideNav {
  display: grid;
  grid-area: sidenav;
}

#bookFrame {
  display: block;
}
